<%- include('header'); -%>

<h1>This is all about me.</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nulla vel laboriosam eaque numquam recusandae laborum deserunt nesciunt sed in consequuntur vero consequatur dolore provident, consectetur aliquam veritatis praesentium voluptatum mollitia commodi pariatur libero rerum. Cumque, tenetur iste quibusdam excepturi quasi sequi dignissimos odio in itaque. Vero libero voluptatem voluptate facilis, aliquam earum necessitatibus aliquid quidem unde quia laboriosam adipisci molestias totam ex fuga sed sunt quam minima neque aperiam nobis culpa dolores autem corrupti! Molestias ut eum eaque, possimus sed officia minus architecto dolorum, hic ratione pariatur doloribus soluta saepe vitae repellendus reiciendis fuga consectetur? Explicabo impedit maiores sequi!</p>

<%- include('footer'); -%>